.places h1 {
    top: 30px;
    left: 20px;
    font-size: 30px;
    position: absolute;
}
.places article {
    display: flex;
    flex-flow: wrap;
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: #FF5A5F 1px solid;
    border-radius: 4px;
}
.places h2 {
    font-size: 30px;
    text-align: center;
}
.places {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    padding-top: 80px;
}
.price_by_night {
    display: flex;
    color: #FF5A5F;
    border: 4px solid #FF5A5F;
    border-radius: 50%;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    text-align: center;
    line-height: 60px;
}
.information {
    height: 80px;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    width: 100%;
    margin: 15px;
    display: flex;
}
.max_guest {
    width: 100px;
    height: 80px;
    background: url(/images/icon_group.png) no-repeat;
}
.max_guest p, .number_rooms p, .number_bathrooms p {
    line-height: 100px;
    text-align: center;
}
.number_rooms {
    width: 100px;
    height: 80px;
    background: url(/images/icon_bed.png) no-repeat;

}
.number_bathrooms {
    width: 100px;
    height: 80px;
    background: url(/images/icon_bath.png) no-repeat;
}
.user p, .description p {
    text-align: left;
    margin: 15px;
}
